<div class="container mt-4">
  <h2>Viens donc créer ton coke tel, servile larbin</h2>
  <%= simple_form_for(@cocktail) do |f| %>
    <div class="col-12">
      <%= f.input :name %>
    </div>
    <%# <div class="d-flex">
      <div class="col-8">
        <%= f.association :ingredients, as: :collection_select %>
    <%#  </div>
      <div class="col-4">
        <%= f.association :doses, as: :integer %>
     <%# </div>
    </div>
    <div class="col-12">
      <div class="mb-4">
        <%= f.submit "Add an ingredient", class: "btn btn-info" %>
     <%# </div> %>
      <%= f.submit "Create", class: "btn btn-info" %>
      <%= link_to 'Back to cocktails list', cocktails_path, class: 'btn btn-info'  %>
    <%# </div> %>
  <% end %>
</div>
